<!Doctype>
<head>

</head>
<body>


  <table class="racer_table">
    <tr  data-player-name="<%=@player_1.name%>" id="player1_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td id="yeahmon"></td>
    </tr>

    <tr data-player-name="<%=@player_2.name%>" id="player2_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td id="yeahmon"></td>
    </tr>

  </table>

  <h1 class="countdown center_header"></h1>
  <h1 class="go center_header">GET READY!!</h1>
  <h1 class="game_winner"></h1>
  <span class="quit"></span>
  <span class="play_again"></span>

</body>