<div class="container">
  <h1>Welcome to Olitaur Racer</h1>
    <form class="start_sign_in" action='/start' method="Post"/>
        <p>
            <label class="sign_in_player_1">Player 1</label>
            <input class="sign_in_player_1" type="text" name="player_1"/>
        </p>
         <p>
              <label class="sign_in_player_2">Player 2</label>
              <input class="sign_in_player_2" type="text" name="player_2"/>
        </p>
         <p>
              <input class="enter" type="submit" value="Start">
        </p>
      </form>
  </div>
